.usuario-fondo {
    background-image: url('/img/login.jpg');
    background-repeat: no-repeat;    
    background-size: cover;
}

.usuario-perfil {
    background-image: url('/img/perfil.jpg');
    background-repeat: no-repeat;    
    background-size: cover;
}

.usuario-rutina {
    background-image: url('/img/rutinas.jpg');
    background-repeat: no-repeat;    
    background-size: cover;
}

.usuario-container {
    margin-top: 10%;
}

.usuario-transparencia {
    opacity: 0.85;
    background-color: black;
    color : white;
}